:root {
  --anim-speed: 0.6s;
  --bg-color-menu: #090f8307;
  --color-blue: #65a6eb;
  --ease-in-out: cubic-bezier(0.55, 0, 0.1, 1);
  --ease-power4: cubic-bezier(0.25, 1, 0.5, 1);
}
.menu-overlay {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 9998;
  overflow: hidden;
}
.menu-overlay.is-active {
  pointer-events: auto;
}
.trigger-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
  display: block;
}
.menu-trigger {
  visibility: visible;
  transition: opacity 0.4s;
}
.nav-open .menu-trigger {
  pointer-events: none; 
}
.menu-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  box-shadow: -5px -5px 10px rgb(4, 103, 164), 5px 5px 15px rgba(4, 126, 241, 0.619);
  backdrop-filter: blur(50px);
  margin-bottom: 4px;
  position: relative;
  transform: rotate(-45deg); 
  transition: transform 0.4s var(--ease-power4), opacity 0.4s, width 0.4s;
  transform-origin: center;
}
.menu-trigger-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--color-blue);
  transition: width 0.3s var(--ease-in-out);
}

.menu-trigger:hover .menu-trigger-bar::before {
  width: 100%;
}
.menu-trigger-bar.top {
  width: 50%;
}
.menu-trigger-bar.middle {
  width: 100%;
}
.menu-trigger-bar.bottom {
  width: 50%;
  margin-left: 50%; 
}
.nav-open .menu-trigger-bar.top {
  transform: translate(80px, -80px) rotate(-45deg);
  opacity: 0;
  transition-delay: 0.1s;
}
.nav-open .menu-trigger-bar.middle {
  transform: translate(80px, -80px) rotate(-45deg);
  opacity: 0;
  transition-delay: 0.2s;
}
.nav-open .menu-trigger-bar.bottom {
  transform: translate(80px, -80px) rotate(-45deg);
  opacity: 0;
  transition-delay: 0.3s;
}
.close-trigger {
  z-index: 9999;
}
.close-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  transition: transform 0.9s var(--ease-power4), opacity 0.4s;
}
.close-trigger-bar.left {
  transform: translateX(100px) translateY(-100px) rotate(-45deg);
  opacity: 0;
}
.close-trigger-bar.right {
  transform: translateX(-100px) translateY(-100px) rotate(45deg);
  opacity: 0;
}
.nav-open .close-trigger-bar.left {
  transform: translateX(0) translateY(0) rotate(-45deg);
  opacity: 1;
  transition-delay: 0.5s;
}
.nav-open .close-trigger-bar.right {
  transform: translateX(0) translateY(0) rotate(45deg);
  opacity: 1;
  transition-delay: 0.6s;
}
.close-trigger-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--color-blue);
  transition: width 0.6s var(--ease-in-out);
}
.close-trigger:hover .close-trigger-bar::before {
  width: 100%;
}
.menu-bg {
  position: absolute;
  width: 250vw;
  height: 250vh;
  left: -75%;
  top: -75%;
  background-color: var(--bg-color-menu);
  transition: transform 1s var(--ease-in-out);
  will-change: transform;
}
.menu-bg.top {
  transform: rotate(-45deg) translateY(-150%);
  z-index: 3;
}
.menu-bg.middle {
  transform: rotate(-45deg) scaleY(0);
  z-index: 2;
  background-color: #0b3863; 
}
.menu-bg.bottom {
  transform: rotate(-45deg) translateY(150%);
  z-index: 1;
}
.nav-open .menu-bg.top { transform: rotate(-45deg) translateY(0); }
.nav-open .menu-bg.middle { transform: rotate(-45deg) scaleY(1); transition-delay: 0.3s; }
.nav-open .menu-bg.bottom { transform: rotate(-45deg) translateY(0); transition-delay: 0.3s; }
.menu-content {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 0.7s ease-out;
}
.nav-open .menu-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0.7s;
}
.menu-link-line {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #2da7ff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.7s var(--ease-in-out);
}
.menu-link:hover .menu-link-line {
  transform: scaleX(1);
  transform-origin: left;
}