/* CSS Custom Property for animating angle */
@property --glow-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.animated-avatar {
  --border-width: 6px;
  box-sizing: border-box;
  border: solid var(--border-width) transparent;
  background: 
    repeating-conic-gradient(
      from var(--glow-angle, 0deg), 
      transparent 0%, 
      rgba(35, 150, 251, 0.13) 20%, 
      rgba(24, 123, 209, 0.25) 40%, 
      rgba(11, 47, 82, 0.38) 60%, 
      rgba(27, 164, 255, 0.662) 80%,
      transparent 100%
    ) border-box;
  filter: url(#avatar-glow-filter);
  animation: rotateGlowAngle 6s linear infinite;
  position: relative;
  overflow: hidden;
}

.animated-avatar-image-wrapper {
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  right: var(--border-width);
  bottom: var(--border-width);
  border-radius: 50%;
  overflow: hidden;
}
@keyframes rotateGlowAngle {
  to {
    --glow-angle: 1turn;
  }
}
