.text-wrapper > h5{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #2282ff;
    margin: 0;
    position: absolute;
    left: 64px;

    &:nth-of-type(5){
        color: rgb(0, 255, 255);
    }
}