@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Recursive", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #2396FB;
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background: rgba(5, 33, 117, 0.944)
}
::-webkit-scrollbar-track:hover{
    background: rgba(18, 46, 129, 0.944)
} 